* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}

header {
  background-color: rgb(36, 47, 65);
  align-items: center;
}
.dropdown-menu {
  background-color: rgb(36, 47, 65);
}

.letraMenu {
  color: white;
}
.letraMenu:hover {
  border: white;
  background-color: rgb(36, 47, 65);
  color: orange;
}

.dropdown-item:hover {
  border: white;
  background-color: rgb(36, 47, 65);
  color: orange;
}

.container-fluid {
  display: flex;
}

/**productos**/
.productos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 15px;
}

.card {
  margin: 15px;
}

.btn {
  background-color: rgb(36, 47, 65);
  color: white;
  font-weight: bold;
  border: 2px solid black;
  margin: 0px 20px 10px 20px;
}
.btn:hover {
  background-color: rgb(255, 118, 18);
  border: 2px solid white;
  color: white;
}

.card-text {
  font-size: small;
  color: green;
}
/*footer*/
footer {
  background-image: url(./assets/footer.img);
  color: white;
  font-family: "Poppins 300", sans-serif;

  display: flex;
  border: 1px solid;
  justify-content: space-around;

  padding: 5px;
  grid-area: seccion-footer;
}

.seccion-footer {
  flex: 1;
  padding: 10px;
  margin: 1px;
  text-align: center;
  text-decoration: none;
  list-style-type: none;
  align-items: center;
}

div ul li {
  color: white;
  list-style-type: none;
  font-family: "Poppins 100", sans-serif;
}
.map {
  width: 300px;
  height: 140px;
}

.footer-col-1 {
  margin: 10px;
  text-align: center;
}

.footer-col-2 {
  margin: 10px;
  text-align: center;
  font-family: "Poppins 100", sans-serif;
}

.footer-orange:hover {
  color: orange;
}

a {
  color: white;
  text-decoration: none;
}

.white-background {
  filter: brightness(0) invert(1) sepia(1) saturate(10000%) hue-rotate(0deg);
}
a {
  text-decoration: none;
  list-style-type: none;
  color: black;
}

.imgcart {
  width: 200px;
  height: 200px;
  margin: 5px;
}

.productsCart {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 10px;
  padding: 10px;
}

.productCartItem {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin: 10px;
  padding: 10px;
}

.deleteButton {
  background-color: rgb(36, 47, 65);
  color: white;
  font-weight: bold;
  border: 2px solid black;
  margin: 5px;
}

.deleteButton:hover {
  background-color: red;
  border: 2px solid black;
  color: white;
}

span {
  font-weight: 700;
  color: rgb(42, 122, 42);
}
